/* header */
.navbar{
    background-color: hsl(210deg 29% 24%) !important;
}
.navbar-brand, .navbar-toggler, 
.nav-link{
    color: white !important;
}
#menu{
    color: white !important;
}

/* jumbo */
.jumbotron{
    background-color: hsl(168deg 76% 42%);
    color: white;
}
.jumbotron .box-img{
    width: 250px;
    min-width: 100px;
}

/* star */
.box-star{
    position: relative;
}

.star_white::after,
.star_white::before{
    height: 2px;
    width: 60px;
    content: "";
    background-color: white;
    border-radius: 3px;
    display: block;
}

.star_blue::after,
.star_blue::before {
    height: 2px;
    width: 60px;
    content: "";
    background-color: hsl(210deg 29% 24%);
    display: block;
}

/* portfolio */
.portfolio{
    color: hsl(210deg 29% 24%)
}
.portfolio img{
    border-radius: 15px;
}

/* about us */
.about_us{
    background-color: hsl(168deg 76% 42%);
    color: white;
}

/* btn */
.btn-aqua{
    background-color: hsl(168deg 76% 42%);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

/* contact me */

#email,
#Name,
#number,
#message{
    width: -webkit-fill-available;
    border: none;
    border-bottom: 1px solid lightgray;
}

/* footer */
.copyright{
    background-color: hsl(210deg 29% 24%);
    color: white;
    font-size: 8px;
}

/* social */
.social{
    background-color: #3a546d;
    color: white;
}
.social input{
    width:inherit;
}
.social .fa-brands{
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: inherit;
}
#green_bot{
    color: hsl(168deg 76% 42%);
}
.social .fa-brands:hover{
    cursor: pointer;
    color: hsl(168deg 76% 42%);
    border: 1px solid hsl(168deg 76% 42%);
}